<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         [routerLink]=" ['./tasks']">Tasks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         [routerLink]=" ['./performers']">Performers</a>
    </li>
  </ul>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
<div class="cssload-background" style="display:none;"></div>
<div class="cssload-container" style="display:none;">
  <div class="cssload-whirlpool"></div>
</div>
